
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">

  <style>
  .hide {
    display: none;
  }
      
  .myDIV:hover + .hide {
    display: block;
    color: rgb(50, 63, 122);
  }  
  </style>
  <h5 class="my-0 mr-md-auto font-weight-normal"><img src="/static/logo.jpg"  width="120" height="100"  style="vertical-align:top"></h5>

  </div>