{% extends 'layout.html' %}

{% block body %}
<h1><small>About Us</small></h1>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;QWALLITY is a start-up IT company focused on the software quality assurance. The company was established in 2021. The idea of starting the company is based on the various gaps discovered in the field of software quality assurance over the years, such as</span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &bull; shortage of qualified specialists </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &bull; market demand for various testing types </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &bull; lack of practical education </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &bull; concentration of specialists in Yerevan </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &bull; low-level software security </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; Our Mission The company emphasizes the importance of the software quality and software security. Our main goal is&hellip;</span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;- To develop the QA field in all regions of Armenia, to train QA specialists ready to work in different regions </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;- To give practical education in main testing types</span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;- To Increase the level of software security</span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp;Our Services QWALLITY has 4 directions&hellip; </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;&bull; QA Trainings</span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;&bull; QA Outsourcing </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;&bull; QA Consulting </span></p>
<p><span class="lt-line-clamp__raw-line">&nbsp; &nbsp; &nbsp;&bull; Professional Services</span>&nbsp;</p>
{% endblock %}