
{% extends 'layout.html' %}

{% block body %}
  <h1>Exercises</h1>
  <br>
  <a href="/calculator" class="btn btn-primary btn-lg active" role="button" style="width:30%" >Calculator</a>
  <br>
  <br>
  <a href="/blackbox" class="btn btn-primary btn-lg active" role="button" style="width:30%" >Black Box</a>
  <br>
  <br>
  <a href="/whitebox" class="btn btn-primary btn-lg active" role="button" style="width:30%" >White Box</a>
  <br>
  <br>
  <a href="/upload" class="btn btn-primary btn-lg active" role="button" style="width:30%" >Upload</a>
  &nbsp
{% endblock %}


